.Nav {
    text-align: center;
    margin: 0 250px;
}

.logo {
    font-size: 50px;
    margin: 0;
    padding-top: 25px;
}

.search-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px
}

.top-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.link {
    margin: 0px 20px;
}

.nav--art {
    color: #660000
}

.please-text {
    margin-bottom: 10px;
}