.Nav {
    display: flex;
    justify-content: space-around;
    margin: 0 220px;
}

h1 {
    font-size: 3em;
    font-weight:400;
    margin: 0;
}

.nav--art {
    color: #AB0000;
    font-weight: 700;
}

.logo {
    margin-top: 40px;
    font-size: 100px
}

.nav--links,
.search {
    margin-top: 120px;
}