.Nav {
  text-align: center;
  margin: 0 175px;
}

.logo {
  font-size: 50px;
  margin: 0;
  padding-top: 25px;
}

.search-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  margin: 0px 20px;
  text-decoration: none;
  color: black
}

.nav--art {
  color: #b71c1c;
}

.please-text {
  margin-bottom: 10px;
}

.heart-icon {
  width: 20px;
}